.translation-page{

display:flex;
flex-direction:column;
gap:30px;

}

.translation-grid{

display:grid;
grid-template-columns:2fr 1fr;
gap:25px;

}

.prediction-card,
.translate-card,
.history-card{

background:#182339;
padding:25px;
border-radius:18px;
border:1px solid rgba(255,255,255,.05);

}

.prediction-box{

margin-top:20px;
background:#10192C;
padding:35px;
font-size:42px;
font-weight:700;
text-align:center;
border-radius:15px;
color:#6D5DFC;

}

select,
textarea{

width:100%;
margin-top:20px;
background:#10192C;
border:none;
color:white;
padding:16px;
border-radius:12px;

}

textarea{

height:140px;
resize:none;

}

.action-buttons{

display:flex;
gap:15px;
margin-top:20px;
flex-wrap:wrap;

}

.history-card ul{

margin-top:20px;
padding-left:0;
list-style:none;

}

.history-card li{

padding:15px 0;
border-bottom:1px solid rgba(255,255,255,.05);

}

@media(max-width:992px){

.translation-grid{

grid-template-columns:1fr;

}

}